<div class="card card--full">
    <h2>my works</h2>
    <div class="slides-container " id="work">
        <div class="slide-container__wraper">
        {{range .Site.Data.work}}
          <div class="slides fade">
            <div class="image-holder">
                <img src="{{.src}}" alt="">
            </div>
          </div>
        {{end}}
        </div>

          <div class="slides-BTNS">
            <apan class="next"><i class="fas fa-chevron-left"></i></apan>
            <apan class="prev"><i class="fas fa-chevron-right"></i></apan>

          </div>
    </div>
</div>